*
{
    padding: 0;
    margin: 0;
}
body
{
    background-image: url(low.jpg);
    background-size: cover;
    background-position:center;
    font-sizing: border-box ;
    font-family: sans-serif;
}
.men-bar
{
    background: rgb(red, green, blue);
    text-align: center;
}